.btn {
	position: relative;
	display: inline-block;
	border-radius: 25px;
	background: linear-gradient(309deg, #b4ec51 0%, #79bf38 68%, #66af30 100%) center no-repeat;
	background-size: 120% 120%;
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	padding: 0 44px;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	box-shadow: 2px 8px 15px -2px rgba(109, 181, 51, 0.4);
	border: none;
	cursor: pointer;
}	