@font-face {
  	font-family: 'Roboto';
  	src: local('Roboto'), url(./Roboto-Regular.woff) format('woff'), local('Roboto'), url(./Roboto-Regular.ttf) format('ttf');
}

@font-face {
  	font-family: 'Roboto-Bold';
  	src: local('Roboto-Bold'), url(./Roboto-Bold.woff) format('woff'), local('Roboto-Bold'), url(./Roboto-Bold.ttf) format('ttf');
  	font-weight: 700;
}

@font-face {
  	font-family: 'Roboto-Light';
  	src: local('Roboto-Light'), url(./Roboto-Light.woff) format('woff'), local('Roboto-Light'), url(./Roboto-Light.ttf) format('ttf');
  	font-weight: 300;
}