@mixin nav-link-active($opacity) {
	background-color: rgba(#ebedf4, $opacity);
	.sidebar__nav-icon {
		.icon {
			fill: #748aa1;
		}
	}
}

.sidebar-wrap {
	grid-area: sidebar;
}

.sidebar {
	$padding-size: 20px;
	
	
	padding: 8px 0 0;
    width: 240px;
    height: 100%;
    transition: width .3s ease-out;
    align-self: start;
	
	&__info {
		padding: 0 $padding-size;
		transition: padding 0.3s ease-out;
		margin-bottom: 10px;
	}

	&__toggle-nav {
		text-align: right
	}
	
	&__logo-wrap {
		margin-bottom: 10px;
	}

	&__logo {
	    width: auto;
	    height: 22px;
	}

	&__logo-mini {
		display: none;
	}

	&__company-user {
		text-align: center;
	}
	
	&__company-avatar-wrap {
		text-align: center;
	}

	&__company-avatar.ava {
		width: 74px;
	    height: 74px;
	    border: 1px solid #ebedf4;
	    transition: width 0.3s ease-out, height 0.3s ease-out;
	    padding: 2px;
	}

	&__company-avatar-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 74px;
		margin-bottom: 10px;
	}

	&__company-name-wrap {
		font-size: 12px;
		font-weight: 700;
		height: calc(18px * 2);
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	&__nav-item {
		&:last-child {
			border-radius: 0 0 4px 4px;
		}
	}

	&__nav-link {
		position: relative;
		display: flex;
		align-items: center;
		padding: 15px $padding-size;
	    font-weight: 500;
	    transition: background .3s ease-out;
	    border-radius: inherit;
		&:not(.sidebar__nav-link_active) {
			&:hover {
				@include nav-link-active(.5);
				// #FF9900

				// #FF6C02
			}
		}
	}

	&__nav-link_active {
		@include nav-link-active(1);
		transition: none;
	}

	&__nav-icon {
		display: inline-block;
		text-align: center;
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		margin-right: 12px;
		.icon {
			max-width: 100%;
			max-height: 100%;
			fill: #b8c5d3;
			transition: fill .3s ease-out;
		}

		.icon-fire {
			fill: red;
		}
	}

	&__nav-descr {
		line-height: 1;
	}
}

@mixin sidebar-mini-styles {
	$paddingSize: 8px;

	.sidebar__info {
		padding: 0 $paddingSize;
	}

	.sidebar__logo-full {
		display: none;
	}

	.sidebar__logo-mini {
		display: block;
	}

	.sidebar__item-hidden {
		display: none;
	}

	.sidebar__nav-icon {
		margin-right: 0;
	}
}

.sidebar_mini {
	width: 56px;

	.sidebar__company-avatar.ava {
		width: 40px;
    	height: 40px;
	}

	@include sidebar-mini-styles;
}

.sidebar.sidebar_full {
	$paddingSize: 8px;

	@include sidebar-mini-styles;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.sidebar {
		width: 56px;

		.sidebar__company-avatar.ava {
			width: 40px;
	    	height: 40px;
		}

		.sidebar__toggle-nav {
			display: none;
		}

		@include sidebar-mini-styles;
	}
	
}

@media (max-width: 991px) {
	.sidebar {
		position: fixed;
		z-index: 99;
		border-radius: 0px;
		top: 0;
		left: 0;
		width: 100%;
	}

	.sidebar__toggle-nav {
		display: none;
	}

	.sidebar__nav-list {
		width: 100%;
	}

	.sidebar__nav-link {
		justify-content: center;
	}

	.sidebar__nav-icon {
		display: none;
	}
}

@media (max-width: 576px) {
	
}